* {
    margin: 0;
    padding: 0;
}

.slidecontainer {
    width: 90%;
    height: 3vh;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 1vh;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px;
}

.slider:hover {
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    background: #f200e3;
    cursor: pointer;
}

h1 {
    font-size: 30px;
    color: #efefef;
    font-weight: 900;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    margin-top: 15px;
}

p {
    font-size: 20px;
    color: #dedede;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    margin-top: 10px;
}

.usage-button {
    padding: 20px 40px;
    border-radius: 15px;
    width: 45%;
    border: 0;
    background: #983cbf;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s all;
}

.usage-button:hover {
    padding: 20px 40px;
    border-radius: 15px;
    border: 0;
    background: #983cbf;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s all;
    box-shadow: 0px 0px 15px #ff00ac;
}

.column {
    float: left;
}

#leftColumn {
    width: 25%;
    background: rgb(66, 0, 80);
}

#rightColumn {
    wrap-option: wrap;
    width: 75%;
    background: rgb(0, 13, 53);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.game-button {
    margin: 5px;
    padding: 46px 49px;
    border-radius: 1px;
    border: 0;
    background: rgba(174, 252, 255, 0.8);
    transition: 0.2s all;
}

.game-button:hover {
    padding: 46px 49px;
    border-radius: 1px;
    border: 0;
    background: rgba(174, 252, 255, 0.9);
    transition: 0.2s all;
    box-shadow: 2px 2px 20px #ff00a6;
}

#playerlevel {
    color: #eebbff;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
}

#userinfoflow {
    font-size: 30px;
    color: #eebbff;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 17px;
    padding: 0;
    line-height: 17px;
    border: 2px solid #E3E3E3;
    border-radius: 17px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 17px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 21px;
    border: 2px solid #E3E3E3;
    border-radius: 17px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}